| !{HTMLComment('# ПОДКЛЮЧЕНИЕ JS ДЛЯ COMPONENTS #')}
script(src=require('COMPONENTS/Video/Video.ts') defer)
script(src=require('COMPONENTS/Modal/Modal.ts') defer)
script(src=require('COMPONENTS/Form/Form.ts') defer)
script(src="https://api-maps.yandex.ru/v3/?apikey=88820c2c-62bd-499b-a90c-1dacf597a017&lang=ru_RU")

| !{HTMLComment('# ПОДКЛЮЧЕНИЕ JS ДЛЯ SECTIONS #')}
script(src=require('SECTIONS/Employees/Employees.ts') defer)
script(src=require('SECTIONS/VacancyList/VacancyList.ts') defer)
script(src=require('SECTIONS/ResumeForm/ResumeForm.ts') defer)
