| !{HTMLComment('## Стили для компонентов ##')}
link(rel="stylesheet" href=require('COMPONENTS/PageLink/PageLink.scss'))/
link(rel="stylesheet" href=require('COMPONENTS/CardPersonal/CardPersonal.scss'))/
link(rel="stylesheet" href=require('COMPONENTS/Form/Form.scss'))/
link(rel="stylesheet" href=require('COMPONENTS/Modal/Modal.scss'))/
link(rel="stylesheet" href=require('COMPONENTS/Video/Video.scss'))/
link(rel="stylesheet" href=require('COMPONENTS/StoryCard/StoryCard.scss'))/

| !{HTMLComment('## Стили для секций ##')}
link(rel="stylesheet" href=require('SECTIONS/HiddenDialogContent/HiddenDialogContent.scss'))/
link(rel="stylesheet" href=require('SECTIONS/SubscriptionForm/SubscriptionForm.scss'))/
link(rel="stylesheet" href=require('SECTIONS/Employees/Employees.scss'))/
link(rel="stylesheet" href=require('SECTIONS/TabsInnerTabMedia/TabsInnerTabMedia.scss'))/
link(rel="stylesheet" href=require('SECTIONS/ModalVideoCustom/ModalVideoCustom.scss'))/
link(rel="stylesheet" href=require('SECTIONS/ModalImageSlider/ModalImageSlider.scss'))/
