| !{HTMLComment('## Стили для компонентов ##')}
link(rel="stylesheet" href=require('COMPONENTS/DatePicker/DatePicker.scss'))/
link(rel="stylesheet" href=require('COMPONENTS/Modal/Modal.scss'))/
link(rel="stylesheet" href=require('COMPONENTS/Form/Form.scss'))/

| !{HTMLComment('## Стили для секций ##')}
link(rel="stylesheet" href=require('SECTIONS/SliderAbout/SliderAbout.scss'))/
link(rel="stylesheet" href=require('SECTIONS/SliderNews/SliderNews.scss'))/
link(rel="stylesheet" href=require('SECTIONS/ImageFacts/ImageFacts.scss'))/
link(rel="stylesheet" href=require('SECTIONS/SliderEvents/SliderEvents.scss'))/
link(rel="stylesheet" href=require('SECTIONS/HiddenDialogContent/HiddenDialogContent.scss'))/
