| !{HTMLComment('## Стили для компонентов ##')}
link(rel="stylesheet" href=require('COMPONENTS/PageLink/PageLink.scss'))/
link(rel="stylesheet" href=require('COMPONENTS/PressCard/PressCard.scss'))/
link(rel="stylesheet" href=require('COMPONENTS/Form/Form.scss'))/
link(rel="stylesheet" href=require('COMPONENTS/Modal/Modal.scss'))/

| !{HTMLComment('## Стили для секций ##')}
link(rel="stylesheet" href=require('SECTIONS/AsidePageNav/AsidePageNav.scss'))/
link(rel="stylesheet" href=require('SECTIONS/SliderNews/SliderNews.scss'))/
link(rel="stylesheet" href=require('SECTIONS/HiddenDialogContent/HiddenDialogContent.scss'))/
link(rel="stylesheet" href=require('SECTIONS/SubscriptionForm/SubscriptionForm.scss'))/
link(rel="stylesheet" href=require('SECTIONS/SliderInfoCard/SliderInfoCard.scss'))/
link(rel="stylesheet" href=require('SECTIONS/PressCenterKit/PressCenterKit.scss'))/
link(rel="stylesheet" href=require('SECTIONS/SliderNewspaper/SliderNewspaper.scss'))/
