| !{HTMLComment('# ПОДКЛЮЧЕНИЕ JS ДЛЯ КОМПОНЕНТОВ #')}
script(src=require('COMPONENTS/Form/Form.ts') defer)
script(src=require('COMPONENTS/Modal/Modal.ts') defer)

| !{HTMLComment('# ПОДКЛЮЧЕНИЕ JS ДЛЯ SECTIONS #')}
script(src=require('SECTIONS/AsidePageNav/AsidePageNav.ts') defer)
