| !{HTMLComment('## Стили для компонентов ##')}
link(rel="stylesheet" href=require('COMPONENTS/Form/Form.scss'))/
link(rel="stylesheet" href=require('COMPONENTS/Modal/Modal.scss'))/
link(rel="stylesheet" href=require('COMPONENTS/Video/Video.scss'))/
link(rel="stylesheet" href=require('COMPONENTS/StoryCard/StoryCard.scss'))/
link(rel="stylesheet" href=require('COMPONENTS/PressCard/PressCard.scss'))/
link(rel="stylesheet" href=require('COMPONENTS/Filters/Filters.scss'))/

| !{HTMLComment('## Стили для секций ##')}
link(rel="stylesheet" href=require('SECTIONS/HiddenDialogContent/HiddenDialogContent.scss'))/
link(rel="stylesheet" href=require('SECTIONS/SubscriptionForm/SubscriptionForm.scss'))/
link(rel="stylesheet" href=require('SECTIONS/SliderVideo/SliderVideo.scss'))/
link(rel="stylesheet" href=require('SECTIONS/ModalVideoCustom/ModalVideoCustom.scss'))/
link(rel="stylesheet" href=require('SECTIONS/FilterNews/FilterNews.scss'))/
