mixin TabsMap(props)
	//- # ПОДКЛЮЧЕНИЕ ДЛЯ ПРОВЕРОК DATA, OPT, ELEM # -//
	include ../../shared/helpers/pug/shortcut-check-store

	//- # ЛОГИКА КОМПОНЕНТА # -//

	//- # ПОЛУЧЕНИЕ CSS КЛАССОВ КОМПОНЕНТА # -//
	include TabsMap.cn.pug
	- const styles = classes(props && props.cn);

	//- # ВЕРСТКА КОМПОНЕНТА # -//
	section(class=styles.tabsMap)
		+Container
			if ELEM('Heading')
				+Heading(ELEM('Heading'))
			+Tabs(ELEM('Tabs'))(class="mt-40")
				div(class=`d-flex justify-content-end align-items-center g-8 flex-direction-column@xs align-items-start@xs mb-16 mb-20@xs`)
					+TabsButtons(ELEM('TabsButtons'))(class=styles.tabsTeamTabsButtons)
				+TabsBody
					for item in ELEM_ARR('TabsContentArr')
						//- # ПОДКЛЮЧЕНИЕ ДЛЯ ПРОВЕРОК I_DATA, I_OPT, I_ELEM # -//
						include ../../shared/helpers/pug/shortcut-check-store

						//- # ВЕРСТКА # -//
						+TabsContent(item)
							if (I_OPT('isMap'))
								+Row(class=styles.tabsMapWrapper)
									+Col
										div(class=styles.tabsMapOfficeWrap)
											+Map
											div(class=styles.tabsMapOfficeList)
							else
								+Row
									+Col({cn: {cols: 'offset-2 offset-0@xs col-10 col-4@xs', display: 'd-flex', flexWrap: 'flex-wrap', gap: 'g-20'}})(class=styles.tabsMapWrapOfficeList)
