| !{HTMLComment('## Стили для компонентов ##')}
link(rel="stylesheet" href=require('COMPONENTS/Modal/Modal.scss'))/
link(rel="stylesheet" href=require('COMPONENTS/Form/Form.scss'))/
link(rel="stylesheet" href=require('COMPONENTS/NviItem/NviItem.scss'))/
link(rel="stylesheet" href=require('COMPONENTS/Filters/Filters.scss'))

| !{HTMLComment('## Стили для секций ##')}
link(rel="stylesheet" href=require('SECTIONS/HiddenDialogContent/HiddenDialogContent.scss'))/
link(rel="stylesheet" href=require('SECTIONS/FeedbackForm/FeedbackForm.scss'))/
link(rel="stylesheet" href=require('SECTIONS/FilterNvi/FilterNvi.scss'))/
