| !{HTMLComment('## Стили для компонентов ##')}
link(rel="stylesheet" href=require('COMPONENTS/Video/Video.scss'))/
link(rel="stylesheet" href=require('COMPONENTS/PageLink/PageLink.scss'))/

| !{HTMLComment('## Стили для секций ##')}
| !{HTMLComment('секция VideoFacts содержит компоненты: Video')}
link(rel="stylesheet" href=require('SECTIONS/VideoFacts/VideoFacts.scss'))/

| !{HTMLComment('секция SliderAbout содержит компоненты: Slider')}
link(rel="stylesheet" href=require('SECTIONS/SliderAbout/SliderAbout.scss'))/

| !{HTMLComment('секция Career содержит компоненты: ImagesHeading')}
link(rel="stylesheet" href=require('SECTIONS/Career/Career.scss'))/

link(rel="stylesheet" href=require('SECTIONS/ListInfoCard/ListInfoCard.scss'))/
