| !{HTMLComment('## Стили для компонентов ##')}
link(rel="stylesheet" href=require('COMPONENTS/Video/Video.scss'))/
link(rel="stylesheet" href=require('COMPONENTS/ListTitle/ListTitle.scss'))
link(rel="stylesheet" href=require('COMPONENTS/CardQuote/CardQuote.scss'))/
link(rel="stylesheet" href=require('COMPONENTS/StoryCard/StoryCard.scss'))/
link(rel="stylesheet" href=require('COMPONENTS/ImagesHeading/ImagesHeading.scss'))/
link(rel="stylesheet" href=require('COMPONENTS/CardPersonal/CardPersonal.scss'))/
link(rel="stylesheet" href=require('COMPONENTS/PageLink/PageLink.scss'))/
link(rel="stylesheet" href=require('COMPONENTS/Modal/Modal.scss'))/

| !{HTMLComment('## Стили для секций ##')}
link(rel="stylesheet" href=require('SECTIONS/Employees/Employees.scss'))/
link(rel="stylesheet" href=require('SECTIONS/Excursion/Excursion.scss'))/
link(rel="stylesheet" href=require('SECTIONS/SliderInfoCard/SliderInfoCard.scss'))/
link(rel="stylesheet" href=require('SECTIONS/AccordionList/AccordionList.scss'))/
link(rel="stylesheet" href=require('SECTIONS/VideoFacts/VideoFacts.scss'))/
link(rel="stylesheet" href=require('SECTIONS/ImageFacts/ImageFacts.scss'))/
link(rel="stylesheet" href=require('SECTIONS/SliderStories/SliderStories.scss'))/
link(rel="stylesheet" href=require('SECTIONS/Career/Career.scss'))/
link(rel="stylesheet" href=require('SECTIONS/TabsInnerTabMedia/TabsInnerTabMedia.scss'))/
link(rel="stylesheet" href=require('SECTIONS/ModalVideoCustom/ModalVideoCustom.scss'))/
link(rel="stylesheet" href=require('SECTIONS/ModalImageSlider/ModalImageSlider.scss'))/
link(rel="stylesheet" href=require('SECTIONS/VacancyList/VacancyList.scss'))/
link(rel="stylesheet" href=require('SECTIONS/SliderVideo/SliderVideo.scss'))/
