| !{HTMLComment('## Стили для компонентов ##')}
link(rel="stylesheet" href=require('COMPONENTS/Video/Video.scss'))/
link(rel="stylesheet" href=require('COMPONENTS/Modal/Modal.scss'))/
link(rel="stylesheet" href=require('COMPONENTS/Form/Form.scss'))/
link(rel="stylesheet" href=require('COMPONENTS/CardPersonal/CardPersonal.scss'))/
link(rel="stylesheet" href=require('COMPONENTS/ImagesHeading/ImagesHeading.scss'))/
link(rel="stylesheet" href=require('COMPONENTS/PageLink/PageLink.scss'))/
link(rel="stylesheet" href=require('COMPONENTS/DatePicker/DatePicker.scss'))/

| !{HTMLComment('## Стили для секций ##')}
| !{HTMLComment('секция Career содержит компоненты: ImagesHeading')}
link(rel="stylesheet" href=require('SECTIONS/Career/Career.scss'))/

| !{HTMLComment('секция Employees содержит компоненты: CardPersonal, Video')}
link(rel="stylesheet" href=require('SECTIONS/Employees/Employees.scss'))/

link(rel="stylesheet" href=require('SECTIONS/ImageFacts/ImageFacts.scss'))/

link(rel="stylesheet" href=require('SECTIONS/ListInfoCard/ListInfoCard.scss'))/
link(rel="stylesheet" href=require('SECTIONS/HiddenDialogContent/HiddenDialogContent.scss'))/
link(rel="stylesheet" href=require('SECTIONS/ModalStreamRegistration/ModalStreamRegistration.scss'))/
link(rel="stylesheet" href=require('SECTIONS/ModalPractices/ModalPractices.scss'))/
