| !{HTMLComment('## Стили для компонентов ##')}
link(rel="stylesheet" href=require('COMPONENTS/Video/Video.scss'))/
link(rel="stylesheet" href=require('COMPONENTS/CardPersonal/CardPersonal.scss'))/
link(rel="stylesheet" href=require('COMPONENTS/ImagesHeading/ImagesHeading.scss'))/
link(rel="stylesheet" href=require('COMPONENTS/PageLink/PageLink.scss'))/

| !{HTMLComment('## Стили для секций ##')}
link(rel="stylesheet" href=require('SECTIONS/ImageFacts/ImageFacts.scss'))/

link(rel="stylesheet" href=require('SECTIONS/ListInfoCard/ListInfoCard.scss'))/

| !{HTMLComment('секция Employees содержит компоненты: CardPersonal, Video')}
link(rel="stylesheet" href=require('SECTIONS/Employees/Employees.scss'))/

| !{HTMLComment('секция Career содержит компоненты: ImagesHeading')}
link(rel="stylesheet" href=require('SECTIONS/Career/Career.scss'))/
