| !{HTMLComment('## Стили для компонентов ##')}
link(rel="stylesheet" href=require('COMPONENTS/PageLink/PageLink.scss'))/
link(rel="stylesheet" href=require('COMPONENTS/CardPersonal/CardPersonal.scss'))/

| !{HTMLComment('## Стили для секций ##')}
link(rel="stylesheet" href=require('SECTIONS/ImageFacts/ImageFacts.scss'))/
link(rel="stylesheet" href=require('SECTIONS/SliderInfoCard/SliderInfoCard.scss'))/
link(rel="stylesheet" href=require('SECTIONS/Employees/Employees.scss'))/
