| !{HTMLComment('## Стили для компонентов ##')}
link(rel="stylesheet" href=require('COMPONENTS/ImagesHeading/ImagesHeading.scss'))/

| !{HTMLComment('## Стили для секций ##')}
link(rel="stylesheet" href=require('SECTIONS/ImageFacts/ImageFacts.scss'))/

| !{HTMLComment('секция Career содержит компоненты: ImagesHeading')}
link(rel="stylesheet" href=require('SECTIONS/Career/Career.scss'))/
link(rel="stylesheet" href=require('SECTIONS/ListInfoCard/ListInfoCard.scss'))/
