| !{HTMLComment('## Стили для компонентов ##')}
link(rel="stylesheet" href=require('COMPONENTS/CardPersonal/CardPersonal.scss'))/
link(rel="stylesheet" href=require('COMPONENTS/PageLink/PageLink.scss'))/

| !{HTMLComment('## Стили для секций ##')}
link(rel="stylesheet" href=require('SECTIONS/ImageFacts/ImageFacts.scss'))/

| !{HTMLComment('секция TabsTeam содержит компоненты: CardPersonal')}
link(rel="stylesheet" href=require('SECTIONS/TabsTeam/TabsTeam.scss'))/

| !{HTMLComment('секция SliderCompany содержит компоненты: Slider')}
link(rel="stylesheet" href=require('SECTIONS/SliderCompany/SliderCompany.scss'))/
