| !{HTMLComment('## Стили для компонентов ##')}
link(rel="stylesheet" href=require('COMPONENTS/PageLink/PageLink.scss'))/

| !{HTMLComment('## Стили для секций ##')}
link(rel="stylesheet" href=require('SECTIONS/Requisites/Requisites.scss'))/
link(rel="stylesheet" href=require('SECTIONS/TabsInnerTab/TabsInnerTab.scss'))/
