| !{HTMLComment('## Стили для компонентов ##')}
link(rel="stylesheet" href=require('COMPONENTS/CardQuote/CardQuote.scss'))/
link(rel="stylesheet" href=require('COMPONENTS/PageLink/PageLink.scss'))/
link(rel="stylesheet" href=require('COMPONENTS/Form/Form.scss'))/
link(rel="stylesheet" href=require('COMPONENTS/Modal/Modal.scss'))/
link(rel="stylesheet" href=require('COMPONENTS/ButtonYandexShare/ButtonYandexShare.scss'))/

| !{HTMLComment('## Стили для секций ##')}
link(rel="stylesheet" href=require('SECTIONS/HiddenDialogContent/HiddenDialogContent.scss'))/
link(rel="stylesheet" href=require('SECTIONS/SubscriptionForm/SubscriptionForm.scss'))/
link(rel="stylesheet" href=require('SECTIONS/ImageFacts/ImageFacts.scss'))/
