//- # ПОДКЛЮЧЕНИЕ КОМПОНЕНТОВ И ВСПОМОГАТЕЛЬНЫХ ФУНКЦИЙ # -//
include ../../shared
include ../../../components/components
include ../../../sections/sections

-
	const faviconType = {
		icon: 'image/x-icon',
		png: 'image/png',
		svg: 'image/svg+xml',
		jpg: 'image/jpeg',
		gif: 'image/gif'
	};

//- # ПОДКЛЮЧЕНИЕ STORE СТРАНИЦ И ЛОГИКИ # -//
block variables

doctype html
html(lang="ru")
	//- ## Head ## -//
	head
		meta(charset="UTF-8")/
		meta(name="viewport" content="width=device-width, initial-scale=1.0")/
		link(rel="icon" type=faviconType[`${require('FAVICON').slice(-3)}`] href=require('FAVICON'))/
		title= pageTitle || "Название страницы"

		//- ## Добавление css на страницу ## -//
		| !{HTMLComment('# ОБЯЗАТЕЛЬНЫЕ СТИЛИ ПОДКЛЮЧАЮЩИЕСЯ НА КАЖДОЙ СТРАНИЦЕ В НАЧАЛЕ #')}
		link(rel="stylesheet" href=require('../../shared.scss'))/
		block include-css
		| !{HTMLComment('# ОБЯЗАТЕЛЬНЫЕ СТИЛИ ПОДКЛЮЧАЮЩИЕСЯ НА КАЖДОЙ СТРАНИЦЕ В КОНЦЕ #')}
		link(rel="stylesheet" href=require('../../../app/main.scss'))/

	body(class=classBodyPage || false)
		//- ## Svg sprite ## -//
		if isSvgSprite
			div Подключен Svg Sprite

		//- ## Header ## -//
		block header
			style.
				.layout-h1 {
					font-size: 40px;
					color: hsl(0, 0%, 50%);
					text-align: center;
					text-shadow: 0 0 2px hsl(0, 0%, 100%);
				}
				.layout-b {
					font-weight: bold;
				}
			h1(class="layout-h1") Вызови #[b(class="layout-b") block header] в файле страницы и подключи в нем #[b(class="layout-b") Header] для страницы

		//- ## Подключение main и его содержимого ## -//
		block main
			main(class=classMainPage || false)
				for sectionStore, idx in pageStore.getSections
					+S(`${pageStore.getSections[idx].includeSection}`, sectionStore)

		//- ## Footer ## -//
		block footer
			style.
				.layout-h1 {
					font-size: 40px;
					color: hsl(0, 0%, 50%);
					text-align: center;
					text-shadow: 0 0 2px hsl(0, 0%, 100%);
				}

				.layout-b {
					font-weight: bold;
				}
			h1(class="layout-h1") Вызови #[b(class="layout-b") block footer] в файле страницы и подключи в нем #[b(class="layout-b") Footer] для страницы

		//- ## Подключение дополнительных блоков (модальные окна, cookie, popups) ## -//
		block extra-content
			for contentStore, idx in pageStore.getSections
				+S(`${pageStore.getSections[idx].includeContent}`, contentStore)

		//- ## Добавление js на страницу ## -//
		| !{HTMLComment('# ПОДКЛЮЧЕНИЕ JS ИСПОЛЬЗУЕМОГО НА ВСЕХ СТРАНИЦАХ #')}
		script(src=require('../../../app/main.ts') defer)
		block include-js
