| !{HTMLComment('## Стили для компонентов ##')}
link(rel="stylesheet" href=require('COMPONENTS/PageLink/PageLink.scss'))/

| !{HTMLComment('## Стили для секций ##')}
link(rel="stylesheet" href=require('SECTIONS/ImageFacts/ImageFacts.scss'))/

link(rel="stylesheet" href=require('SECTIONS/ArrowedSection/ArrowedSection.scss'))/
link(rel="stylesheet" href=require('SECTIONS/ListInfoCard/ListInfoCard.scss'))/
