| !{HTMLComment('## Стили для компонентов ##')}
link(rel="stylesheet" href=require('COMPONENTS/Modal/Modal.scss'))/
link(rel="stylesheet" href=require('COMPONENTS/Form/Form.scss'))/
link(rel="stylesheet" href=require('COMPONENTS/PageLink/PageLink.scss'))/
link(rel="stylesheet" href=require('COMPONENTS/DatePicker/DatePicker.scss'))/

| !{HTMLComment('## Стили для секций ##')}
link(rel="stylesheet" href=require('SECTIONS/ImageFacts/ImageFacts.scss'))/
link(rel="stylesheet" href=require('SECTIONS/SliderInfoCard/SliderInfoCard.scss'))/
link(rel="stylesheet" href=require('SECTIONS/HiddenDialogContent/HiddenDialogContent.scss'))/
link(rel="stylesheet" href=require('SECTIONS/FeedbackForm/FeedbackForm.scss'))/
link(rel="stylesheet" href=require('SECTIONS/TabsSlider/TabsSlider.scss'))/
link(rel="stylesheet" href=require('SECTIONS/Calculator/Calculator.scss'))/
