| !{HTMLComment('## Стили для компонентов ##')}
link(rel="stylesheet" href=require('COMPONENTS/ImagesHeading/ImagesHeading.scss'))/
link(rel="stylesheet" href=require('COMPONENTS/Video/Video.scss'))/

| !{HTMLComment('## Стили для секций ##')}
link(rel="stylesheet" href=require('SECTIONS/BannerSlider/BannerSlider.scss'))/
link(rel="stylesheet" href=require('SECTIONS/ImageFacts/ImageFacts.scss'))/

| !{HTMLComment('секция VideoFacts содержит компоненты: Video')}
link(rel="stylesheet" href=require('SECTIONS/VideoFacts/VideoFacts.scss'))/

link(rel="stylesheet" href=require('SECTIONS/StatisticsMap/StatisticsMap.scss'))/

| !{HTMLComment('секция TabsImagesHeading содержит компоненты: ImagesHeading')}
link(rel="stylesheet" href=require('SECTIONS/TabsImagesHeading/TabsImagesHeading.scss'))/

| !{HTMLComment('секция Career содержит компоненты: ImagesHeading')}
link(rel="stylesheet" href=require('SECTIONS/Career/Career.scss'))/

link(rel="stylesheet" href=require('SECTIONS/SliderProducts/SliderProducts.scss'))/
link(rel="stylesheet" href=require('SECTIONS/StepsAnimatedCircle/StepsAnimatedCircle.scss'))/
