| !{HTMLComment('# ПОДКЛЮЧЕНИЕ JS ДЛЯ COMPONENTS #')}
script(src=require('COMPONENTS/Video/Video.ts') defer)

| !{HTMLComment('# ПОДКЛЮЧЕНИЕ JS ДЛЯ SECTIONS #')}
script(src=require('SECTIONS/StatisticsMap/StatisticsMap.ts') defer)
script(src=require('SECTIONS/SliderProducts/SliderProducts.ts') defer)
script(src=require('SECTIONS/StepsAnimatedCircle/StepsAnimatedCircle.ts') defer)
