| !{HTMLComment('## Стили для компонентов ##')}
link(rel="stylesheet" href=require('COMPONENTS/Video/Video.scss'))/
link(rel="stylesheet" href=require('COMPONENTS/Modal/Modal.scss'))/
link(rel="stylesheet" href=require('COMPONENTS/CardPersonal/CardPersonal.scss'))/
link(rel="stylesheet" href=require('COMPONENTS/PageLink/PageLink.scss'))/

| !{HTMLComment('## Стили для секций ##')}

| !{HTMLComment('секция SliderInfo содержит компоненты: Slider')}
link(rel="stylesheet" href=require('SECTIONS/SliderAbout/SliderAbout.scss'))/

| !{HTMLComment('секция Employees содержит компоненты: CardPersonal, Video')}
link(rel="stylesheet" href=require('SECTIONS/Employees/Employees.scss'))/

link(rel="stylesheet" href=require('SECTIONS/TitleSlider/TitleSlider.scss'))/

link(rel="stylesheet" href=require('SECTIONS/ArrowedSection/ArrowedSection.scss'))/

link(rel="stylesheet" href=require('SECTIONS/SliderPictures/SliderPictures.scss'))/
link(rel="stylesheet" href=require('SECTIONS/ModalVideoCustom/ModalVideoCustom.scss'))/
