mixin TabsFacts(props)
	//- # ПОДКЛЮЧЕНИЕ ДЛЯ ПРОВЕРОК DATA, OPT, ELEM # -//
	include ../../shared/helpers/pug/shortcut-check-store

	//- # ПОЛУЧЕНИЕ CSS КЛАССОВ КОМПОНЕНТА # -//
	include TabsFacts.cn.pug
	- const styles = classes(props && props.cn);

	//- # ВЕРСТКА КОМПОНЕНТА # -//
	section(class=styles.tabsFacts)
		+Container
			+Tabs(ELEM('Tabs'))
				+TabsButtons(ELEM('TabsButtons'))(class=styles.tabsFactsButtons)
				+TabsBody
					for item in ELEM_ARR('TabsContentArr')
						//- # ПОДКЛЮЧЕНИЕ ДЛЯ ПРОВЕРОК I_DATA, I_OPT, I_ELEM # -//
						include ../../shared/helpers/pug/shortcut-check-store
						- const stylesItem = classes(item && item.cn);

						//- # ВЕРСТКА # -//
						+TabsContent(item)(class=styles.tabsFactsContent)
							if(I_ELEM('Text', false))
								+Row
									+Col({cn: {cols: 'col-9 col-4@xs'}})
										+Text(I_ELEM('Text'))
							if(I_ELEM('FactsTextNumberArr', false))
								div(class=stylesItem.TabsFactsRow)
									for item in I_ELEM_ARR('FactsTextNumberArr')
										include ../../shared/helpers/pug/shortcut-check-store
										div(class=stylesItem.tabsFactsFact)
											+Text(I_ELEM('Text'))(class=styles.tabsFactsFactText)
											+Text(I_ELEM('Number'))
							if(I_ELEM('FactsTextDescArr', false))
								div(class=stylesItem.TabsFactsRow)
									for item in I_ELEM_ARR('FactsTextDescArr')
										include ../../shared/helpers/pug/shortcut-check-store
										div(class=stylesItem.tabsFactsFact)
											+Text(I_ELEM('Text'))(class=styles.tabsFactsFactText)
											+Text(I_ELEM('Desc'))
