| !{HTMLComment('## Стили для компонентов ##')}
link(rel="stylesheet" href=require('COMPONENTS/PageLink/PageLink.scss'))/
link(rel="stylesheet" href=require('COMPONENTS/BioData/BioData.scss'))/
link(rel="stylesheet" href=require('COMPONENTS/CardPersonal/CardPersonal.scss'))/

| !{HTMLComment('## Стили для секций ##')}
link(rel="stylesheet" href=require('SECTIONS/Supervisor/Supervisor.scss'))/
| !{HTMLComment('секция Bio содержит компоненты: BioData')}
link(rel="stylesheet" href=require('SECTIONS/Bio/Bio.scss'))/
link(rel="stylesheet" href=require('SECTIONS/SliderNews/SliderNews.scss'))/
| !{HTMLComment('секция Bio содержит компоненты: CardPersonal')}
link(rel="stylesheet" href=require('SECTIONS/Employees/Employees.scss'))/
