mixin Heading(props)
	//- # ПОДКЛЮЧЕНИЕ ДЛЯ ПРОВЕРОК DATA, OPT, ELEM # -//
	include ../../helpers/pug/shortcut-check-store

	//- # ЛОГИКА КОМПОНЕНТА # -//
	-
		const HEADING_TAGS = ['h1', 'h2', 'h3', 'h4', 'h5', 'h6', 'p', 'span', 'sup'];
		const TAG = HEADING_TAGS.includes(DATA('tag')) && DATA('tag');
		const TEXT_INDENT = DATA('footnoteText', false);

	//- # ПОЛУЧЕНИЕ CSS КЛАССОВ КОМПОНЕНТА # -//
	include Heading.cn.pug
	- const styles = classes({...props.cn, TEXT_INDENT});

	//- # ВЕРСТКА КОМПОНЕНТА # -//
	if TAG
		#{TAG}(class=styles.heading)&attributes(attributes)
			if DATA('footnoteText', false)
				span(class=styles.headingFootnote) !{DATA('footnoteText')}
			if DATA('textSpan', false)
				span(class=styles.headingTextSpan) !{DATA('textSpan')}
			if DATA('text', false)
				| !{DATA('text')}
			else
				block
	else
		pre.
			компонент Heading
			передай в объекте data ключ tag и присвой ему значение - ('h1', 'h2','h3', 'h4', 'h5', 'h6')
