| !{HTMLComment('## Стили для компонентов ##')}
link(rel="stylesheet" href=require('COMPONENTS/Modal/Modal.scss'))/
link(rel="stylesheet" href=require('COMPONENTS/Form/Form.scss'))/

| !{HTMLComment('## Стили для секций ##')}

link(rel="stylesheet" href=require('SECTIONS/HeadingMap/HeadingMap.scss'))/
link(rel="stylesheet" href=require('SECTIONS/ListContactLinks/ListContactLinks.scss'))/
link(rel="stylesheet" href=require('SECTIONS/Requisites/Requisites.scss'))/
link(rel="stylesheet" href=require('SECTIONS/ListInfoCard/ListInfoCard.scss'))/
link(rel="stylesheet" href=require('SECTIONS/HiddenDialogContent/HiddenDialogContent.scss'))/
link(rel="stylesheet" href=require('SECTIONS/FeedbackForm/FeedbackForm.scss'))/
