| !{HTMLComment('## Стили для компонентов ##')}
link(rel="stylesheet" href=require('COMPONENTS/Modal/Modal.scss'))/
link(rel="stylesheet" href=require('COMPONENTS/Form/Form.scss'))/
link(rel="stylesheet" href=require('COMPONENTS/CatalogItem/CatalogItem.scss'))/
link(rel="stylesheet" href=require('COMPONENTS/Filters/Filters.scss'))/

| !{HTMLComment('## Стили для секций ##')}
link(rel="stylesheet" href=require('SECTIONS/CatalogItemsList/CatalogItemsList.scss'))/
link(rel="stylesheet" href=require('SECTIONS/SliderInfoCard/SliderInfoCard.scss'))/
link(rel="stylesheet" href=require('SECTIONS/HiddenDialogContent/HiddenDialogContent.scss'))/
link(rel="stylesheet" href=require('SECTIONS/FeedbackForm/FeedbackForm.scss'))/
