| !{HTMLComment('## Стили для компонентов ##')}

| !{HTMLComment('## Стили для секций ##')}
link(rel="stylesheet" href=require('SECTIONS/ImageFacts/ImageFacts.scss'))/
| !{HTMLComment('секция SliderAbout содержит компоненты: Slider')}
link(rel="stylesheet" href=require('SECTIONS/SliderAbout/SliderAbout.scss'))/

link(rel="stylesheet" href=require('SECTIONS/FactsAlignRight/FactsAlignRight.scss'))/
